<p>
    {% trans %}The Commission has received your online complaint. It will be reviewed to make certain that it meets the requirements of a public complaint under the <em>Royal Canadian Mounted Police Act</em>.{% endtrans %}
</p>
<p>
    {% trans %}In cases where additional information is needed, an intake officer will contact you using the details you provided.{% endtrans %}
</p>
<p>
    {{ 'Your reference number is'|t }} <strong>{{ reference_number }}</strong>
</p>
