<p>
    {% trans %}An  error has occurred. Please try your submission again at another time, or call 1-800-665-6878 if you need to speak with a representative from the Civilian Review and Complaints Commission.{% endtrans %}
</p>
